.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 30%;
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .footer-section p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-bottom: 5px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
    color: #fff;
    height: 40px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    margin-top: 2200px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* центрирование по вертикали */
    max-width: 1200px; /* максимальная ширина контейнера, чтобы не было слишком широко на широких экранах */
    margin: 0 auto; /* центрирование по горизонтали */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 0.8rem;
  }
  